/* You can add global styles to this file, and also import other style files */

html {
	height: 100%;
	overflow: hidden;
	font-family: az_ea_font, wf_segoe-ui_normal, "Segoe UI", "Segoe WP",
		Tahoma, Arial, sans-serif;
}

body {
	height: 100%;
	width: 100%;
	margin: 0;
}

app-root {
	width: 100%;
	height: 100%;
}